Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Workflow update SSM parameter config
  .github/workflows/update_config.yml
  ssm-parameters-config.json
Due: lint-githubactions

chore: exclude new secret name for now
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

chore: set 4 pilot sites in prod
  .github/workflows/release.yml
Due: lint-githubactions

chore: read site list from file
  .github/workflows/ods-codes.txt
  .github/workflows/release.yml
Due: lint-githubactions

chore: full pilot ods codes
  .github/workflows/ods-codes.txt
  .github/workflows/release.yml
Due: lint-githubactions

chore: enable notifications in int and prod
  .github/workflows/release.yml
Due: lint-githubactions

Chore: [AEA-5851] - simplify IaC, sync current ODS codes (#2287)
  .github/scripts/release_code.sh
  .github/workflows/ci.yml
  .github/workflows/ods-codes.txt
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates, lint-githubactions

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

chore: read ods codes from file
  .github/cfg/ods_codes_dev.txt
  .github/cfg/ods_codes_dev_sandbox.txt
  .github/cfg/ods_codes_int.txt
  .github/cfg/ods_codes_int_sandbox.txt
  .github/cfg/ods_codes_prod.txt
  .github/cfg/ods_codes_qa.txt
  .github/cfg/ods_codes_ref.txt
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

pass enable backups
  .github/scripts/release_code.sh
Due: none

Chore: [AEA-5851] - full pilot ODS codes (#2288)
  .github/cfg/ods_codes_dev.txt
  .github/cfg/ods_codes_dev_sandbox.txt
  .github/cfg/ods_codes_int.txt
  .github/cfg/ods_codes_int_sandbox.txt
  .github/cfg/ods_codes_prod.txt
  .github/cfg/ods_codes_qa.txt
  .github/cfg/ods_codes_ref.txt
  .github/workflows/ci.yml
  .github/workflows/ods-codes.txt
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

fix param
  .github/scripts/release_code.sh
Due: none

Notes added by 'git notes add'
  cd99786173703b24325a4defe472aa498f04e0da
Due: none

Fix: [AEA-0000] - pass enable backups to sam template (#2289)
  .github/scripts/release_code.sh
Due: none

Notes added by 'git notes add'
  2cbe4f72ed5d0806c6582ac21db5ae1f2dabb688
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Fix: [AEA-0000] - remove uuid (#2244)
  package-lock.json
  packages/nhsNotifyLambda/package.json
  packages/nhsNotifyLambda/src/utils/auth.ts
  packages/nhsNotifyLambda/src/utils/notify.ts
  packages/nhsNotifyLambda/src/utils/sqs.ts
  packages/nhsNotifyLambda/tests/testAuth.test.ts
  packages/nhsNotifyLambda/tests/testHelpers.ts
  packages/updatePrescriptionStatus/package.json
  packages/updatePrescriptionStatus/tests/testUpdatePrescriptionStatus.test.ts
Due: lint-updatePrescriptionStatus, lint-nhsNotifyLambda

chore: debugging prod enablement
  .github/workflows/release.yml
Due: lint-githubactions

chore: defensive scripting
  .github/scripts/release_code.sh
Due: none

chore: defensive scripting
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
Due: lint-githubactions

chore: defensive scripting
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

chore: defensive scripting
  .github/workflows/release.yml
Due: lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
