Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

feat(gsul): exclude post-dated updates that have not yet taken effect
  packages/gsul/src/dynamoDBclient.ts
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/src/schema/response.ts
  packages/gsul/tests/testBuildResult.test.ts
Due: lint-gsul

Chore: [AEA-6107] - upgrade to node 24 (#2590)
  .tool-versions
  .vscode/eps-prescription-status-update-api.code-workspace
  SAMtemplates/functions/main.yaml
  package-lock.json
  packages/capabilityStatement/jest.config.ts
  packages/checkPrescriptionStatusUpdates/jest.config.ts
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/utilities/jest.config.ts
  packages/cpsuLambda/jest.config.ts
  packages/gsul/jest.config.ts
  packages/nhsNotifyLambda/jest.config.ts
  packages/nhsNotifyUpdateCallback/jest.config.ts
  packages/nhsd-psu-sandbox/jest.config.ts
  packages/psuRestoreValidationLambda/jest.config.ts
  packages/specification/jest.config.ts
  packages/specification/package.json
  packages/statusLambda/jest.config.ts
  packages/updatePrescriptionStatus/jest.config.ts
Due: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonMiddyErrorHandler, lint-samtemplates

chore: simplify if stmt / placate SQ
  packages/gsul/src/getStatusUpdates.ts
Due: lint-gsul

chore: additional test cases identified
  packages/gsul/tests/testBuildResult.test.ts
Due: lint-gsul

fix: precautionary tolower on comparison
  packages/gsul/src/dynamoDBclient.ts
Due: lint-gsul

remove aws-lambda
  .tool-versions
  Makefile
  package-lock.json
  packages/psuRestoreValidationLambda/package.json
Due: none

New: [AEA-6055] - Exclude future updates from prescription list and ensure only most recent post-dated (predicted) update returned (#2619)
  .devcontainer/devcontainer.json
  packages/gsul/src/dynamoDBclient.ts
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/src/schema/response.ts
  packages/gsul/tests/testBuildResult.test.ts
Due: lint-gsul

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Docs: [AEA-6056] - meta.lastUpdated to denote post dated prescription updates (#2560)
  packages/specification/schemas/resources/UpdatePrescriptionStatusTask.yaml
Due: none

Chore: [AEA-0000] - multi-platform support for asdf (#2510)
  .devcontainer/Dockerfile
Due: none

Notes added by 'git notes add'
  841ca7f83682b1dcfa2c40907a3faf834cfb6d2d
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Implement reading the SQS messages in the post dated lambda
  packages/postDatedLambda/src/businessLogic.ts
  packages/postDatedLambda/src/main.ts
  packages/postDatedLambda/src/queueProcessing.ts
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/src/types.ts
  packages/postDatedLambda/tests/main.test.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

Update package lock
  package-lock.json
Due: none

Fix test config
  packages/postDatedLambda/jest.config.ts
  packages/postDatedLambda/tests/main.test.ts
Due: none

log post dated information, if present
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

Forgot to pass the new SQS url through to the lambda functions
  SAMtemplates/main_template.yaml
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus, lint-samtemplates

Fetch matching prescription ID records fromthe prescriptions data table
  package-lock.json
  packages/common/commonTypes/src/index.ts
  packages/postDatedLambda/package.json
  packages/postDatedLambda/src/businessLogic.ts
  packages/postDatedLambda/src/databaseClient.ts
  packages/postDatedLambda/src/queueProcessing.ts
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/src/types.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

Rename file
  packages/postDatedLambda/src/main.ts
  packages/postDatedLambda/src/orchestration.ts
Due: none

Missed the tests file
  packages/postDatedLambda/tests/main.test.ts
Due: none

The data table fetching was not using the GSI - update it so that it is. Refactor the functions around that accordingly
  SAMtemplates/functions/main.yaml
  packages/nhsNotifyLambda/src/utils/dynamo.ts
  packages/postDatedLambda/src/databaseClient.ts
Due: lint-nhsNotifyLambda, lint-samtemplates

When pushing to SQS, log what url it's going to
  packages/postDatedLambda/src/databaseClient.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

I was passing the incorrect table name in to the post dated lambda
  SAMtemplates/functions/main.yaml
  packages/postDatedLambda/src/databaseClient.ts
Due: lint-samtemplates

update table policies
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Review yesterdays work. Leave some todo notes for the business logic
  packages/postDatedLambda/src/businessLogic.ts
  packages/postDatedLambda/src/databaseClient.ts
  packages/postDatedLambda/src/orchestration.ts
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/src/types.ts
Due: none

Simplify some logic, clean up some bits
  packages/common/commonTypes/src/index.ts
  packages/postDatedLambda/src/businessLogic.ts
  packages/postDatedLambda/src/databaseClient.ts
  packages/postDatedLambda/src/orchestration.ts
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/src/types.ts
  packages/postDatedLambda/tests/main.test.ts
Due: none

Set up infrastructure. Dummy handler
  .vscode/eps-prescription-status-update-api.code-workspace
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/messaging/main.yaml
  package-lock.json
  package.json
  packages/postDatedLambda/jest.config.ts
  packages/postDatedLambda/jest.debug.config.ts
  packages/postDatedLambda/package.json
  packages/postDatedLambda/src/main.ts
  packages/postDatedLambda/tests/main.test.ts
  packages/postDatedLambda/tsconfig.json
  tsconfig.build.json
Due: lint-samtemplates

Minor changes.
  SAMtemplates/messaging/main.yaml
  packages/common/commonTypes/src/index.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus, lint-samtemplates
