Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

chore: expand pharmacy ODS code for individual log update
  packages/nhsNotifyLambda/src/utils/notify.ts
  packages/nhsNotifyLambda/tests/notify.test.ts
Due: lint-nhsNotifyLambda

chore(sq): gloablThis rather than global
  packages/nhsNotifyLambda/tests/notify.test.ts
Due: lint-nhsNotifyLambda

Chore: [AEA-0000] - Expand pharmacy ODS code for individual log update (#2533)
  packages/nhsNotifyLambda/src/utils/notify.ts
  packages/nhsNotifyLambda/tests/notify.test.ts
Due: lint-nhsNotifyLambda

chore: remove old secrets policy
  SAMtemplates/functions/lambda_resources.yaml
Due: lint-samtemplates
