Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Define the infrastucture. Dummy lambda that runs frequently
  .pre-commit-config.yaml
  .vscode/eps-prescription-status-update-api.code-workspace
  Makefile
  README.md
  SAMtemplates/functions/main.yaml
  SAMtemplates/messaging/main.yaml
  package-lock.json
  package.json
  packages/common/commonTypes/src/index.ts
  packages/postDatedLambda/.jest/setEnvVars.js
  packages/postDatedLambda/.vscode/launch.json
  packages/postDatedLambda/.vscode/settings.json
  packages/postDatedLambda/jest.config.ts
  packages/postDatedLambda/jest.debug.config.ts
  packages/postDatedLambda/package.json
  packages/postDatedLambda/src/main.ts
  packages/postDatedLambda/tests/main.test.ts
  packages/postDatedLambda/tsconfig.json
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  sonar-project.properties
  tsconfig.build.json
Due: lint-updatePrescriptionStatus, lint-samtemplates

Update the PSU lambda to put post-dated data on the post-dated SQS
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

Add env var for sqs tests
  packages/updatePrescriptionStatus/.jest/setEnvVars.js
Due: lint-updatePrescriptionStatus

chore: tidy unused mocks
  packages/updatePrescriptionStatus/src/validation/content.ts
  packages/updatePrescriptionStatus/tests/validation/testRequestContentValidation.test.ts
Due: lint-updatePrescriptionStatus

upgrade to node v24
  .tool-versions
  .vscode/eps-prescription-status-update-api.code-workspace
  SAMtemplates/functions/main.yaml
  package-lock.json
  packages/capabilityStatement/jest.config.ts
  packages/checkPrescriptionStatusUpdates/jest.config.ts
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/utilities/jest.config.ts
  packages/cpsuLambda/jest.config.ts
  packages/gsul/jest.config.ts
  packages/nhsNotifyLambda/jest.config.ts
  packages/nhsNotifyUpdateCallback/jest.config.ts
  packages/nhsd-psu-sandbox/jest.config.ts
  packages/psuRestoreValidationLambda/jest.config.ts
  packages/specification/jest.config.ts
  packages/specification/package.json
  packages/statusLambda/jest.config.ts
  packages/updatePrescriptionStatus/jest.config.ts
Due: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonMiddyErrorHandler, lint-samtemplates

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
