Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

testing forwarding logs to csoc
  .github/scripts/release_code.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  SAMtemplates/apis/api_resources.yaml
  SAMtemplates/apis/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates, lint-githubactions

change pem file
  SAMtemplates/apis/main.yaml
Due: lint-samtemplates

chore: log the unfiltered count for comparison
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
Due: lint-updatePrescriptionStatus

chore: additionally log ods code and msg status
  packages/nhsNotifyLambda/src/utils/notify.ts
Due: lint-nhsNotifyLambda

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

chore: minimise log change
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
Due: lint-updatePrescriptionStatus

move to common workflow
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .tool-versions.asdf
  release.config.js
  releaseNotesTemplates/commit.hbs
Due: lint-githubactions

update versions
  .tool-versions
Due: none

fix all asdf installs
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
  package-lock.json
  package.json
Due: lint-githubactions

different cache key
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

fix restore key
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

fix tag format
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

chore: assert on logging
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
Due: lint-updatePrescriptionStatus

Chore: [AEA-5828] - report ODS code (#2315)
  packages/nhsNotifyLambda/src/utils/notify.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
Due: lint-updatePrescriptionStatus, lint-nhsNotifyLambda

add config for tag format
  .github/cfg/settings.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-0000] - fix release tagging (#2336)
  .devcontainer/Dockerfile
  .github/cfg/settings.yml
  .github/workflows/ci.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
  .tool-versions
  .tool-versions.asdf
  package-lock.json
  package.json
  release.config.js
  releaseNotesTemplates/commit.hbs
Due: lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
