Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Chore: [AEA-6394] - enable notifications inv batch 1 (#2992)
  .github/config/ods_codes_int.txt
  .github/config/ods_codes_prod.txt
Due: none

chore: zizmor
  zizmor.yml
Due: none

chore: merge necessary eslint peers
  package-lock.json
  package.json
Due: none

chore: set reg test branch
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

chore: bump middy and lambda to compatible versions
  package-lock.json
  packages/capabilityStatement/package.json
  packages/checkPrescriptionStatusUpdates/package.json
  packages/common/middyErrorHandler/package.json
  packages/cpsuLambda/package.json
  packages/gsul/package.json
  packages/nhsNotifyLambda/package.json
  packages/nhsNotifyUpdateCallback/package.json
  packages/nhsd-psu-sandbox/package.json
  packages/postDatedLambda/package.json
  packages/psuRestoreValidationLambda/package.json
  packages/statusLambda/package.json
  packages/updatePrescriptionStatus/package.json
Due: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonMiddyErrorHandler

chore: adopt @nhs/fhir-middy-error-handler 2.1.83
  package-lock.json
  packages/capabilityStatement/package.json
  packages/nhsNotifyLambda/package.json
  packages/nhsNotifyUpdateCallback/package.json
  packages/nhsd-psu-sandbox/package.json
  packages/postDatedLambda/package.json
  packages/statusLambda/package.json
  packages/updatePrescriptionStatus/package.json
Due: lint-updatePrescriptionStatus, lint-sandbox, lint-statusLambda, lint-capabilityStatement, lint-nhsNotifyLambda
