Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Chore: [AEA-5803] - move secret creation into psu repo (#2406)
  SAMtemplates/functions/main.yaml
  SAMtemplates/secrets/main.yaml
Due: lint-samtemplates

chore: try experimental qc
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

use common workflow
  .github/workflows/ci.yml
  .github/workflows/combine-dependabot-prs.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/dependabot_auto_approve_and_merge.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

Fix: [AEA-0000] - use common workflow (#2409)
  .github/workflows/ci.yml
  .github/workflows/combine-dependabot-prs.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/dependabot_auto_approve_and_merge.yml
  .github/workflows/pr-link.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

Notes added by 'git notes add'
  d3bf04ba866975fd784177ceaf7e46d5f8f1f730
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

Fix parameter name
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Fix: [AEA-5993] - Fix parameter name on policy (#2414)
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates

Notes added by 'git notes add'
  2142d644a3cffea054bd44550715968c613244be
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
