Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Add Dependabot schedule and remove dependabot-auto-approve-and-merge job
  .github/CODEOWNERS
  .github/workflows/auto_approve_dependabot.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

Chore: [AEA-0000] - add dependabot approve schedule (#2983)
  .github/CODEOWNERS
  .github/workflows/auto_approve_dependabot.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

Chore: [AEA-0000] - use gitleaks for secret scanning (#2973)
  .gitallowed
  .gitleaksignore
  .pre-commit-config.yaml
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

chore: npm audit fix
  package-lock.json
Due: none

chore: move blocked ods codes to file too
  .github/config/blocked_ods_codes_dev.txt
  .github/config/blocked_ods_codes_dev_sandbox.txt
  .github/config/blocked_ods_codes_int.txt
  .github/config/blocked_ods_codes_int_sandbox.txt
  .github/config/blocked_ods_codes_prod.txt
  .github/config/blocked_ods_codes_qa.txt
  .github/config/blocked_ods_codes_ref.txt
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

Remove old app name code for notifications filtering
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  Makefile
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
  packages/updatePrescriptionStatus/.vitest/setup-env.js
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
Due: lint-updatePrescriptionStatus, lint-samtemplates, lint-githubactions

Remove wrong app IDs
  .github/workflows/release.yml
Due: lint-githubactions

fix: app id and name for prod, int TBD
  .github/workflows/release.yml
Due: lint-githubactions

chore: fail on bash error
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

Chore: [AEA-6055] - use latest regression tests (#2971)
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Address copilot comments
  .github/workflows/release.yml
  packages/updatePrescriptionStatus/.vitest/setup-env.js
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
Due: lint-updatePrescriptionStatus, lint-githubactions

Update zizmor
  zizmor.yml
Due: none

Chore: [AEA-6540] - enable notifications for all except list for next supplier (#2984)
  .github/config/blocked_ods_codes_dev.txt
  .github/config/blocked_ods_codes_dev_sandbox.txt
  .github/config/blocked_ods_codes_int.txt
  .github/config/blocked_ods_codes_int_sandbox.txt
  .github/config/blocked_ods_codes_prod.txt
  .github/config/blocked_ods_codes_qa.txt
  .github/config/blocked_ods_codes_ref.txt
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  package-lock.json
Due: lint-githubactions

Notes added by 'git notes add'
  5b6457a9c6b3962eb8e5b848a44e321097d67dff
Due: none

Add retry logic to the deploy-api stage
  .github/scripts/deploy_api.sh
Due: none

fix: comma to colon
  .github/scripts/deploy_api.sh
Due: none

Chore: [AEA-0000] - fix to deploy MTLS (#2987)
  .github/scripts/deploy_api.sh
Due: none

Revert "Chore: [AEA-6055] - use latest regression tests (#2971)"
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Chore: [AEA-6055] - revert use latest regression tests (#2971)" (#2988)
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  56a5a815ba4069e9667c8eb02be6577c448a2743
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
