Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

fix it
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

Add intercept 4 test case
  packages/updatePrescriptionStatus/tests/testPrescriptionIntercept.test.ts
Due: lint-updatePrescriptionStatus

Include new SSM parameters for test prescriptions. WIP: Module imports across repo affected
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
  jest.default.config.ts
  packages/common/utilities/package.json
  packages/common/utilities/src/index.ts
  packages/common/utilities/src/notificationsConfig.ts
  packages/common/utilities/src/ssmUtil.ts
  packages/common/utilities/src/testConfig.ts
  packages/common/utilities/tsconfig.json
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tsconfig.json
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-updatePrescriptionStatus, lint-samtemplates

chore: remove deprecated deliveryStatus
  packages/nhsNotifyLambda/src/utils/notify.ts
Due: lint-nhsNotifyLambda

chore: make docker socket available to dev container
  .devcontainer/devcontainer.json
Due: none

Add env vars via GHA variable
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  SAMtemplates/functions/main.yaml
  jest.default.config.ts
  packages/capabilityStatement/tsconfig.json
  packages/checkPrescriptionStatusUpdates/tsconfig.json
  packages/gsul/tsconfig.json
  packages/nhsNotifyLambda/tsconfig.json
  packages/nhsNotifyUpdateCallback/tsconfig.json
  packages/psuRestoreValidationLambda/tsconfig.json
  packages/statusLambda/tsconfig.json
  tsconfig.build.json
Due: lint-gsul, lint-statusLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-samtemplates, lint-githubactions

Chore: [AEA-0000] - remove deprecated deliveryStatus (#2360)
  packages/nhsNotifyLambda/src/utils/notify.ts
Due: lint-nhsNotifyLambda

Package fixes
  packages/checkPrescriptionStatusUpdates/tsconfig.json
  packages/common/middyErrorHandler/jest.config.ts
  packages/gsul/tsconfig.json
  packages/nhsNotifyLambda/tsconfig.json
  packages/nhsNotifyUpdateCallback/tsconfig.json
  packages/psuRestoreValidationLambda/tsconfig.json
  packages/updatePrescriptionStatus/package.json
  packages/updatePrescriptionStatus/src/utils/testPrescriptionIntercept.ts
  packages/updatePrescriptionStatus/tsconfig.json
Due: lint-updatePrescriptionStatus, lint-gsul, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonMiddyErrorHandler

chore: add dev container user to docker group
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

fix the tests
  packages/capabilityStatement/tsconfig.json
  packages/common/middyErrorHandler/src/errorHandler.ts
  packages/common/middyErrorHandler/tsconfig.json
  packages/statusLambda/tsconfig.json
Due: lint-statusLambda, lint-capabilityStatement, lint-commonMiddyErrorHandler

Update sam defaults
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

SAM parameter input fix
  .github/scripts/release_code.sh
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

correct var name
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

try it in quotes
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates
