Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Update eps-custom-prescription-status-update-api.yaml
  packages/specification/eps-custom-prescription-status-update-api.yaml
Due: none

Docs: [AEA-6528] - Update the OAS file to say the PSU is in Beta (#2968)
  packages/specification/eps-custom-prescription-status-update-api.yaml
  packages/specification/eps-prescription-status-update-api.yaml
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Default to using the app ID. Populate the parameter with the enabled suppliers
  .github/workflows/release.yml
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates, lint-githubactions

feat: cdk stateful resources
  .github/scripts/delete_stacks.sh
  .github/workflows/cdk_stateful_release_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
  packages/cdk/bin/PsuStatefulApp.ts
  packages/cdk/resources/Apis.ts
  packages/cdk/resources/Messaging.ts
  packages/cdk/resources/Parameters.ts
  packages/cdk/resources/Secrets.ts
  packages/cdk/resources/Tables.ts
  packages/cdk/stacks/PsuStatefulStack.ts
Due: lint-githubactions

chore: latest regression tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Chore: [AEA-0000] - Default to using the app ID. Populate the parameter with the enabled suppliers (#2970)
  .github/workflows/release.yml
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates, lint-githubactions

refactor(cdk): unify stateless and stateful in PsuApiApp
  .github/instructions/languages/cdk.instructions.md
  .github/workflows/cdk_release_code.yml
  .github/workflows/cdk_stateful_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
  packages/cdk/bin/PsuApiApp.ts
  packages/cdk/bin/PsuStatelessApp.ts
Due: lint-githubactions

bump dev container version
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  zizmor.yml
Due: lint-githubactions

Chore: [AEA-0000] - bump dev container version to 1.4.8 (#2972)
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  zizmor.yml
Due: lint-githubactions

add gitleaks
  .gitallowed
  .gitleaksignore
  .grype.yaml
  .pre-commit-config.yaml
Due: none

feat(cdk): add sandbox stack and deploy via unified app
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
  package-lock.json
  packages/cdk/bin/PsuApiApp.ts
  packages/cdk/bin/PsuApiSandboxApp.ts
  packages/cdk/nagSuppressions.ts
  packages/cdk/stacks/PsuApiSandboxStack.ts
  packages/cdk/stacks/PsuApiStatefulStack.ts
  packages/cdk/stacks/PsuApiStatelessStack.ts
Due: lint-githubactions

feat(cdk): temporary stateful sam template and script to compare with cdk confirming no diffs
  SAMtemplates/stateful_template.yaml
  packages/cdk/resources/Tables.ts
  scripts/compare_stateful_templates.py
Due: lint-samtemplates

fix(cdk): deprecated pointInTimeRecovery flag
  packages/cdk/resources/Tables.ts
Due: none

ops: revert changes to ci and release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: lint-githubactions

fix(cdk): split deploy into statless and stateful
  .github/workflows/pull_request.yml
  Makefile
Due: lint-githubactions

fix(cdk): migrate statemachine to JSONata
  packages/cdk/resources/StateMachineDefinitions/Format1UpdatePrescriptionsStatus.ts
  packages/cdk/resources/StateMachineDefinitions/UpdatePrescriptionStatus.ts
Due: none

update grype
  .grype.yaml
Due: none
