Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Rename PostModifiedDataItem to PostUpdatedDataItem
  packages/common/commonTypes/src/index.ts
  packages/gsul/src/dynamoDBclient.ts
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/src/schema/response.ts
  packages/gsul/tests/testBuildResult.test.ts
  packages/postDatedLambda/tests/testDatabaseClient.test.ts
  packages/postDatedLambda/tests/testOrchestration.test.ts
  packages/postDatedLambda/tests/testSqs.test.ts
  packages/postDatedLambda/tests/testUtils.ts
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
  packages/updatePrescriptionStatus/tests/testUpdatePrescriptionStatus.test.ts
Due: lint-updatePrescriptionStatus, lint-gsul

Revert "Rename PostModifiedDataItem to PostUpdatedDataItem"
  packages/common/commonTypes/src/index.ts
  packages/gsul/src/dynamoDBclient.ts
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/src/schema/response.ts
  packages/gsul/tests/testBuildResult.test.ts
  packages/postDatedLambda/tests/testDatabaseClient.test.ts
  packages/postDatedLambda/tests/testOrchestration.test.ts
  packages/postDatedLambda/tests/testSqs.test.ts
  packages/postDatedLambda/tests/testUtils.ts
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
  packages/updatePrescriptionStatus/tests/testUpdatePrescriptionStatus.test.ts
Due: lint-updatePrescriptionStatus, lint-gsul

Refactor SQS to send messages in parallel
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
Due: lint-updatePrescriptionStatus

rename function. Pass notifications SQS into the post dated lambda
  SAMtemplates/functions/main.yaml
  packages/postDatedLambda/src/orchestration.ts
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/tests/testSqs.test.ts
Due: lint-samtemplates

Update the psotDatedLambda to forward matured prescriptions to the notifications queue
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/tests/testSqs.test.ts
Due: none

Add dynamo dependency that we needed
  package-lock.json
  package.json
Due: none

Fix SAM template
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Forgot to pass through feature flag
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

Receive dedupe IDs, and pass them through when forwarding SQS messages
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/tests/testSqs.test.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

test: parameterise system time
  packages/gsul/tests/testBuildResult.test.ts
Due: lint-gsul

fix: post dated inclusions subsequently revoked
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/tests/testBuildResult.test.ts
Due: lint-gsul

chore: rename test to match func
  packages/gsul/tests/testFilterOutFutureReduceToLatest.test.ts
Due: lint-gsul

test: scenario 4 part 2
  packages/gsul/tests/testFilterOutFutureReduceToLatestUpdates.test.ts
Due: lint-gsul

Fix: [AEA-6055] - Post dated update subsequently revoked (#2646)
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/tests/testFilterOutFutureReduceToLatestUpdates.test.ts
Due: lint-gsul

Include postdatedlastmodifiedsetat in dynamo attributes
  SAMtemplates/tables/main.yaml
Due: lint-samtemplates

Define a new GSI for post-dated enrichment
  SAMtemplates/tables/main.yaml
  packages/postDatedLambda/src/databaseClient.ts
Due: lint-samtemplates

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Extend the NotifyDataItem to include the prescription ID, rather than creating a whole new type
  SAMtemplates/functions/main.yaml
  packages/common/commonTypes/src/index.ts
  packages/nhsNotifyLambda/tests/notify.test.ts
  packages/nhsNotifyLambda/tests/testUtils.test.ts
  packages/postDatedLambda/src/databaseClient.ts
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/src/types.ts
  packages/postDatedLambda/tests/testUtils.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus, lint-nhsNotifyLambda, lint-samtemplates

Add an override flag for the post-dated business logic, for testing later
  packages/postDatedLambda/src/businessLogic.ts
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

refactor the db client
  packages/postDatedLambda/src/databaseClient.ts
Due: none

Partially implement the business logic
  packages/postDatedLambda/src/businessLogic.ts
  packages/postDatedLambda/src/orchestration.ts
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/src/types.ts
Due: none

Fix unit tests
  packages/postDatedLambda/tests/testOrchestration.test.ts
  packages/postDatedLambda/tests/testSqs.test.ts
Due: none

Implement business logic
  packages/postDatedLambda/docs/mature_prescription_check.md
  packages/postDatedLambda/src/businessLogic.ts
Due: none

Update doc
  packages/postDatedLambda/docs/mature_prescription_check.md
Due: none

Logging and function name change
  packages/postDatedLambda/src/businessLogic.ts
  packages/postDatedLambda/src/databaseClient.ts
  packages/postDatedLambda/src/sqs.ts
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
