Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

chore: fix typo on ods code
  .github/cfg/ods_codes_dev.txt
  .github/cfg/ods_codes_dev_sandbox.txt
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

chore: adopt latest common workflow
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-6055] - Post dated update subsequently revoked (#2646)
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/tests/testFilterOutFutureReduceToLatestUpdates.test.ts
Due: lint-gsul

chore: add trivy cfg
  .trivyignore.yaml
  trivy.yaml
Due: none

Initial implementation of the internal testing tool.
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
  .github/workflows/run_release_code_and_api.yml
  .vscode/eps-prescription-status-update-api.code-workspace
  Makefile
  SAMtemplates/apis/main.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  package-lock.json
  package.json
  packages/common/commonTypes/src/index.ts
  packages/nhsNotifyLambda/src/utils/dynamo.ts
  packages/notificationsReportingLambda/jest.config.ts
  packages/notificationsReportingLambda/package.json
  packages/notificationsReportingLambda/src/notificationsReportingLambda.ts
  packages/notificationsReportingLambda/src/notificationsRepository.ts
  packages/notificationsReportingLambda/tests/notificationsReportingLambda.test.ts
  packages/notificationsReportingLambda/tests/notificationsRepository.test.ts
  packages/notificationsReportingLambda/tsconfig.json
  sonar-project.properties
  tsconfig.build.json
Due: lint-nhsNotifyLambda, lint-samtemplates, lint-githubactions

Remove custom data type for sqs batch message entries, and use the given one
  packages/common/commonTypes/src/index.ts
  packages/postDatedLambda/src/sqs.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

Chore: [AEA-0000] - fix a typo in dev ODS code cfg (#2692)
  .github/cfg/ods_codes_dev.txt
  .github/cfg/ods_codes_dev_sandbox.txt
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .trivyignore.yaml
  trivy.yaml
Due: lint-githubactions

Address some of Tim's comments
  packages/postDatedLambda/src/businessLogic.ts
  packages/postDatedLambda/src/databaseClient.ts
Due: none

Notes added by 'git notes add'
  a80a36bc768b6b3ab1c5f6100b896de221d4fec4
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Fix typo
  packages/postDatedLambda/src/databaseClient.ts
Due: none

Remove references to overriding post-dated logic
  SAMtemplates/functions/main.yaml
  packages/postDatedLambda/docs/mature_prescription_check.md
  packages/postDatedLambda/tests/testBusinessLogic.test.ts
Due: lint-samtemplates
