Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

chore: lintts
  packages/nhsNotifyUpdateCallback/tests/testHelpers.test.ts
  packages/psuRestoreValidationLambda/tests/compareTable.test.ts
Due: none

Notes added by 'git notes add'
  af6f74845c9214c8d086115411f65cbf40929ed4
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Docs: [AEA-0000] - update links to prescribe, dispense and pfp apis (#2911)
  packages/specification/eps-custom-prescription-status-update-api.yaml
  packages/specification/eps-prescription-status-update-api.yaml
Due: none

chore: npm audit fix
  package-lock.json
Due: none

Attempt to deploy an empty stack
  .github/actions/install_dependencies/action.yml
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/eps-prescription-status-update-api.code-workspace
  Makefile
  package-lock.json
  package.json
  packages/cdk/bin/PsuStatelessApp.ts
  packages/cdk/nagSuppressions.ts
  packages/cdk/package.json
  packages/cdk/stacks/PsuStatelessStack.ts
  packages/cdk/tsconfig.json
Due: lint-githubactions

Zizimor ignore
  zizmor.yml
Due: none

chore: exclude test helpers from coverage
  vitest.default.config.ts
Due: none

Reenable the grype scan
  .pre-commit-config.yaml
Due: none

dont download get secrets layer yet
  .github/workflows/cdk_package_code.yml
Due: lint-githubactions

chore: sonarqube exclusions
  sonar-project.properties
Due: none

move API gateway to stateless stack
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
  packages/cdk/bin/PsuStatelessApp.ts
  packages/cdk/resources/Apis.ts
  packages/cdk/stacks/PsuStatelessStack.ts
  packages/cdk/tsconfig.json
Due: lint-githubactions

Migrate lambda functions. There is a required reference to the SAM stack so that it can access the stateful resources, e.g. tables, SQS, params.
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
  packages/cdk/bin/PsuStatelessApp.ts
  packages/cdk/resources/Functions.ts
  packages/cdk/stacks/PsuStatelessStack.ts
  zizmor.yml
Due: lint-githubactions

fix: jest env vars
  packages/checkPrescriptionStatusUpdates/.vitest/setup-env.js
  packages/checkPrescriptionStatusUpdates/vitest.config.ts
  packages/nhsNotifyLambda/.vitest/setup-env.js
  packages/nhsNotifyLambda/vitest.config.ts
  packages/nhsNotifyUpdateCallback/.vitest/setup-env.js
  packages/nhsNotifyUpdateCallback/vitest.config.ts
  packages/postDatedLambda/.vitest/setup-env.js
  packages/postDatedLambda/vitest.config.ts
  packages/updatePrescriptionStatus/.vitest/setup-env.js
  packages/updatePrescriptionStatus/vitest.config.ts
Due: lint-updatePrescriptionStatus, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda

fix: more jest references
  .devcontainer/devcontainer.json
  .vscode/eps-prescription-status-update-api.code-workspace
  eslint.config.mjs
  package.json
  packages/capabilityStatement/jest.debug.config.ts
  packages/checkPrescriptionStatusUpdates/jest.debug.config.ts
  packages/common/middyErrorHandler/jest.debug.config.ts
  packages/common/utilities/jest.debug.config.ts
  packages/cpsuLambda/jest.debug.config.ts
  packages/gsul/jest.debug.config.ts
  packages/nhsNotifyLambda/jest.debug.config.ts
  packages/nhsNotifyUpdateCallback/jest.debug.config.ts
  packages/nhsd-psu-sandbox/jest.debug.config.ts
  packages/postDatedLambda/jest.debug.config.ts
  packages/psuRestoreValidationLambda/jest.debug.config.ts
  packages/specification/.vscode/launch.json
  packages/specification/.vscode/settings.json
  packages/specification/jest.debug.config.ts
  packages/statusLambda/jest.debug.config.ts
  packages/updatePrescriptionStatus/jest.debug.config.ts
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
Due: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonMiddyErrorHandler

chore: regen lock file
  package-lock.json
Due: none

chore: yaml is dev dep
  packages/specification/package.json
Due: none

fix: sonar comments
  packages/nhsNotifyUpdateCallback/tests/testHelpers.test.ts
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
Due: lint-updatePrescriptionStatus

Migrate over state machine
  Makefile
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/StateMachineDefinitions/Format1UpdatePrescriptionsStatus.ts
  packages/cdk/resources/StateMachineDefinitions/UpdatePrescriptionStatus.ts
  packages/cdk/resources/StateMachines.ts
  packages/cdk/stacks/PsuStatelessStack.ts
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

fix: global imports
  packages/nhsNotifyLambda/tests/notify.test.ts
  packages/nhsNotifyLambda/tests/testAuth.test.ts
  packages/nhsNotifyLambda/tests/testNhsNotifyLambda.test.ts
  packages/nhsNotifyLambda/tests/testSecrets.test.ts
  packages/nhsNotifyLambda/tests/testUtils.test.ts
Due: lint-nhsNotifyLambda

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

fix: sonar comments
  packages/nhsNotifyLambda/tests/testUtils.test.ts
Due: lint-nhsNotifyLambda

fix: avoid double spying
  packages/nhsNotifyLambda/tests/testUtils.test.ts
Due: lint-nhsNotifyLambda

chore: remove dead code
  packages/updatePrescriptionStatus/tests/utils/testUtils.ts
Due: lint-updatePrescriptionStatus

Fix permission issue
  .grype.yaml
  packages/cdk/resources/Functions.ts
Due: none

Commit todo file for posterity
  TODO.md
Due: none

Add new ODS codes to enabled list
  .github/config/ods_codes_prod.txt
Due: none

bring int to parity with prod
  .github/config/ods_codes_int.txt
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
