Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

wip: read secrets same as params
  packages/common/utilities/src/config.ts
  packages/common/utilities/src/index.ts
  packages/common/utilities/tests/testTestConfig.test.ts
  packages/common/utilities/tsconfig.json
  packages/nhsNotifyLambda/src/utils/auth.ts
  packages/nhsNotifyLambda/tsconfig.json
  tsconfig.defaults.json
Due: lint-nhsNotifyLambda

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

chore: move secret creation into psu repo
  SAMtemplates/functions/main.yaml
  SAMtemplates/secrets/main.yaml
Due: lint-samtemplates

fix: typo on name
  SAMtemplates/secrets/main.yaml
Due: lint-samtemplates

fix: typo on name
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

chore: attempt to optimise qc
  .github/workflows/pull_request.yml
  .github/workflows/quality-checks.yml
Due: lint-githubactions

chore: qc
  .github/workflows/quality-checks.yml
Due: lint-githubactions

chore: bom needs install asdf
  .github/workflows/quality-checks.yml
Due: lint-githubactions

chore: resolve sbom / shellchck issues
  .github/workflows/quality-checks.yml
Due: lint-githubactions

chore: restore production qc
  .github/workflows/pull_request.yml
  .github/workflows/quality-checks.yml
Due: lint-githubactions

chore: attach psu policy to notifyLambda
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

chore: inject new secret
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

chore: add psu policy to notify callback too
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

chore: move notify API key
  SAMtemplates/functions/main.yaml
  SAMtemplates/secrets/main.yaml
Due: lint-samtemplates

chore: add KMS
  SAMtemplates/functions/main.yaml
  SAMtemplates/secrets/main.yaml
Due: lint-samtemplates

chore: cleanup test data
  data/Notification_Frequency_Distribution-2025-10-28.csv
  data/Prescription_Notifications_Sent_Distribution_Repor-2025-10-28.csv
  data/Prescription_Notifications_Status_Report-2025-10-28.csv
  data/Prescription_Notifications_Status_Report_final-2025-10-28.csv
Due: none

Update scripts/merge_ready_to_collect_to_status.py
  scripts/merge_ready_to_collect_to_status.py
Due: none

chore: date param validation
  scripts/merge_ready_to_collect_to_status.py
Due: none

chore: new qc
  .github/workflows/pull_request.yml
Due: lint-githubactions

Notes added by 'git notes add'
  6ba20103fe93723a47d884cb41d71260d5b13bd7
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Chore: [AEA-5970] - merge reports (#2407)
  scripts/merge_ready_to_collect_to_status.py
Due: none
