Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Notes added by 'git notes add'
  300da21e7093c74ed7ea2d2ef0ed5dcfbcc9c19e
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

no mutual tls in pull request
  .github/workflows/pull_request.yml
  SAMtemplates/apis/main.yaml
Due: lint-samtemplates, lint-githubactions

Fix: [AEA-5895] - forward apigw logs to csoc (#2316)
  .github/scripts/release_code.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  SAMtemplates/apis/api_resources.yaml
  SAMtemplates/apis/main.yaml
  SAMtemplates/main_template.yaml
Due: lint-samtemplates, lint-githubactions

Notes added by 'git notes add'
  d76ad65e8d3bba2a6dcbb6ef405b83a6e03d6819
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

Implement UT for test presc 3
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/testPrescriptionIntercept.ts
  packages/updatePrescriptionStatus/tests/testPrescriptionIntercept.test.ts
Due: lint-updatePrescriptionStatus

Test failures
  jest.default.config.ts
  packages/common/commonTypes/tsconfig.json
  packages/common/middyErrorHandler/tsconfig.json
  packages/common/testing/tsconfig.json
  packages/updatePrescriptionStatus/tests/testPrescriptionIntercept.test.ts
  packages/updatePrescriptionStatus/tsconfig.json
  tsconfig.defaults.json
Due: lint-updatePrescriptionStatus, lint-commonTesting, lint-commonMiddyErrorHandler

fix tests
  packages/updatePrescriptionStatus/package.json
  packages/updatePrescriptionStatus/tests/testPrescriptionIntercept.test.ts
Due: lint-updatePrescriptionStatus
