Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

chore: adapt to upstream breaking change
  packages/capabilityStatement/src/capabilityStatement.ts
  packages/checkPrescriptionStatusUpdates/src/checkPrescriptionStatusUpdates.ts
  packages/cpsuLambda/src/middleware.ts
  packages/gsul/src/getStatusUpdates.ts
  packages/nhsNotifyLambda/src/nhsNotifyLambda.ts
  packages/nhsNotifyUpdateCallback/src/lambdaHandler.ts
  packages/nhsd-psu-sandbox/src/sandbox.ts
  packages/postDatedLambda/src/main.ts
  packages/psuRestoreValidationLambda/src/handler.ts
  packages/statusLambda/src/statusLambda.ts
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
Due: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

stagger dependabot
  .github/dependabot.yml
Due: lint-githubactions

update precommit
  .pre-commit-config.yaml
Due: none

two hour stagger
  .github/dependabot.yml
Due: lint-githubactions

Notes added by 'git notes add'
  e80a8035d1eaae1acba2d61b82d50a4b8c857424
Due: none

Chore: [AEA-0000] - Stagger dependabot (#2834)
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: lint-githubactions

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

chore: fix combined common workflows
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

chore: more out of date workflow shas, more runtime_docker_image -> pinned-image
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

chore: remove no longer req'd verify_published_from_main_image
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

chore: remove no longer req'd runtime_docker_image
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

chore: new get_config_values
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

use env var name
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
