Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

enable backup in pr
  .github/workflows/pull_request.yml
Due: lint-githubactions

do not backup pull request
  .github/workflows/pull_request.yml
Due: lint-githubactions

Fix: [AEA-0000] - enable backup condition in quotes (#2363)
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Reduce to main configurations
  jest.default.config.ts
  packages/capabilityStatement/tsconfig.json
  packages/checkPrescriptionStatusUpdates/tsconfig.json
  packages/common/commonTypes/tsconfig.json
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/middyErrorHandler/tsconfig.json
  packages/common/testing/tsconfig.json
  packages/gsul/tsconfig.json
  packages/nhsNotifyLambda/tsconfig.json
  packages/nhsNotifyUpdateCallback/tsconfig.json
  packages/psuRestoreValidationLambda/tsconfig.json
  packages/statusLambda/tsconfig.json
  packages/updatePrescriptionStatus/tsconfig.json
  tsconfig.build.json
  tsconfig.defaults.json
Due: lint-updatePrescriptionStatus, lint-gsul, lint-statusLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler

Notes added by 'git notes add'
  fc5d84f73db544afb268300d29f336bb07913f7d
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Fix release parameter name
  .github/scripts/release_code.sh
Due: none

UTs for utilities for SSM parameters
  Makefile
  package-lock.json
  package.json
  packages/common/utilities/package.json
  packages/common/utilities/src/index.ts
  packages/common/utilities/src/notificationsConfig.ts
  packages/common/utilities/src/testConfig.ts
  packages/updatePrescriptionStatus/package.json
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tests/testHandler.test.ts
  packages/updatePrescriptionStatus/tests/testPrescriptionIntercept.test.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
  packages/updatePrescriptionStatus/tests/testUpdatePrescriptionStatus.test.ts
  packages/updatePrescriptionStatus/tests/utils/testUtils.ts
  tsconfig.defaults.json
Due: lint-updatePrescriptionStatus

chore: conventional module names
  package.json
  packages/capabilityStatement/package.json
  packages/checkPrescriptionStatusUpdates/package.json
  packages/common/commonTypes/package.json
  packages/common/middyErrorHandler/package.json
  packages/common/testing/package.json
  packages/gsul/package.json
  packages/nhsNotifyLambda/package.json
  packages/nhsNotifyUpdateCallback/package.json
  packages/psuRestoreValidationLambda/package.json
  packages/statusLambda/package.json
  tsconfig.defaults.json
Due: lint-gsul, lint-statusLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler

chore: add missing references to tsconfig.json
  packages/checkPrescriptionStatusUpdates/tsconfig.json
  packages/gsul/tsconfig.json
  packages/nhsNotifyLambda/tsconfig.json
  packages/nhsNotifyUpdateCallback/tsconfig.json
  packages/psuRestoreValidationLambda/tsconfig.json
  packages/statusLambda/tsconfig.json
Due: lint-gsul, lint-statusLambda, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda

chore: remove unnecessary ,
  packages/psuRestoreValidationLambda/tsconfig.json
Due: none

chore: regen package lock
  package-lock.json
Due: none

chore: fix imports for psu-common
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/checkPrescriptionStatusUpdates/src/checkPrescriptionStatusUpdates.ts
  packages/checkPrescriptionStatusUpdates/tests/testHander.test.ts
  packages/common/middyErrorHandler/tests/testErrorHandler.test.ts
  packages/gsul/src/getStatusUpdates.ts
  packages/nhsNotifyLambda/src/utils/dynamo.ts
  packages/nhsNotifyLambda/src/utils/sqs.ts
  packages/nhsNotifyLambda/src/utils/types.ts
  packages/nhsNotifyLambda/tests/testHelpers.ts
  packages/nhsNotifyLambda/tests/testNhsNotifyLambda.test.ts
  packages/nhsNotifyUpdateCallback/src/helpers.ts
  packages/psuRestoreValidationLambda/src/handler.ts
  packages/psuRestoreValidationLambda/tests/handler.test.ts
  packages/statusLambda/tests/test-handler.test.ts
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/databaseClient.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tests/utils/testUtils.ts
Due: lint-updatePrescriptionStatus, lint-gsul, lint-statusLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonMiddyErrorHandler

chore: typo, deleted }
  packages/psuRestoreValidationLambda/tsconfig.json
Due: none

Fix: [AEA-5803] - Update the Notify KID secret to use the new (better labelled) one (#2248)
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

Update logger
  packages/common/middyErrorHandler/src/errorHandler.ts
Due: lint-commonMiddyErrorHandler

Fix logger
  packages/common/middyErrorHandler/src/errorHandler.ts
Due: lint-commonMiddyErrorHandler

And the next
  packages/common/middyErrorHandler/src/errorHandler.ts
Due: lint-commonMiddyErrorHandler

Fix: [AEA-5913] - Part 1, add in two new additional test exceptions (#2362)
  .github/scripts/release_code.sh
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  packages/common/middyErrorHandler/src/errorHandler.ts
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/tests/testPrescriptionIntercept.test.ts
Due: lint-updatePrescriptionStatus, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

chore: merge report files
  scripts/merge_ready_to_collect_to_status.py
Due: none

Chore: [AEA-5913] review tsconfig and dependencies (#2368)
  package-lock.json
  package.json
  packages/capabilityStatement/package.json
  packages/capabilityStatement/tests/test-handler.test.ts
  packages/checkPrescriptionStatusUpdates/package.json
  packages/checkPrescriptionStatusUpdates/src/checkPrescriptionStatusUpdates.ts
  packages/checkPrescriptionStatusUpdates/tests/testHander.test.ts
  packages/checkPrescriptionStatusUpdates/tsconfig.json
  packages/common/commonTypes/package.json
  packages/common/middyErrorHandler/package.json
  packages/common/middyErrorHandler/tests/testErrorHandler.test.ts
  packages/common/testing/package.json
  packages/gsul/package.json
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/tsconfig.json
  packages/nhsNotifyLambda/package.json
  packages/nhsNotifyLambda/src/utils/dynamo.ts
  packages/nhsNotifyLambda/src/utils/sqs.ts
  packages/nhsNotifyLambda/src/utils/types.ts
  packages/nhsNotifyLambda/tests/testHelpers.ts
  packages/nhsNotifyLambda/tests/testNhsNotifyLambda.test.ts
  packages/nhsNotifyLambda/tsconfig.json
  packages/nhsNotifyUpdateCallback/package.json
  packages/nhsNotifyUpdateCallback/src/helpers.ts
  packages/nhsNotifyUpdateCallback/tsconfig.json
  packages/psuRestoreValidationLambda/package.json
  packages/psuRestoreValidationLambda/src/handler.ts
  packages/psuRestoreValidationLambda/tests/handler.test.ts
  packages/psuRestoreValidationLambda/tsconfig.json
  packages/statusLambda/package.json
  packages/statusLambda/tests/test-handler.test.ts
  packages/statusLambda/tsconfig.json
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/databaseClient.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tests/utils/testUtils.ts
  tsconfig.defaults.json
Due: lint-updatePrescriptionStatus, lint-gsul, lint-statusLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
