Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Notes added by 'git notes add'
  2746a1cfd62ac26cd05d8df7bab654b22fab59ac
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update workflow
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

Filter by application ID. Also enable product ID checking to see if it behaves how I think it does
  packages/common/commonTypes/src/index.ts
  packages/specification/eps-prescription-status-update-api.yaml
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tests/testDatabaseClient.test.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
  packages/updatePrescriptionStatus/tests/testUpdatePrescriptionStatus.test.ts
  packages/updatePrescriptionStatus/tests/utils/testUtils.ts
Due: lint-updatePrescriptionStatus

implement the ID checking in parallel, with env flag to toggle between id and name checkign
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
  packages/nhsNotifyLambda/tests/testHelpers.ts
  packages/postDatedLambda/tests/testBusinessLogic.test.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
Due: lint-updatePrescriptionStatus, lint-nhsNotifyLambda, lint-samtemplates

Chore: [AEA-0000] - workflow to update dev container (#2908)
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

Forgot to add default to main template yaml
  .github/scripts/release_code.sh
  SAMtemplates/main_template.yaml
Due: lint-samtemplates

update
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

Add non-empty defaults for the new parameter
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  Makefile
Due: lint-githubactions

Remove product ID check since it requires altering the apigee app
  packages/specification/eps-prescription-status-update-api.yaml
Due: none

Chore: [AEA-0000] - Depenadabot cooldown (#2909)
  .github/dependabot.yml
Due: lint-githubactions

Rename parameter since we're not gonna use product IDs
  .github/scripts/release_code.sh
  Makefile
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
Due: lint-updatePrescriptionStatus, lint-samtemplates
