Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Notes added by 'git notes add'
  4fad98572de0d71c9d4acc686b21dba053b7ab05
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Fix: [AEA-6055] - debugging issues with post-dated updates (#2814)
  .github/scripts/deploy_api.sh
  .github/scripts/release_code.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/run_release_code_and_api.yml
  SAMtemplates/apis/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/tables/main.yaml
  packages/gsul/src/getStatusUpdates.ts
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
Due: lint-updatePrescriptionStatus, lint-gsul, lint-samtemplates, lint-githubactions

ops: test enabling cegedim in pr
  .github/workflows/pull_request.yml
Due: lint-githubactions

Revert "ops: test enabling cegedim in pr"
  .github/workflows/pull_request.yml
Due: lint-githubactions

ops: enable cegedim
  .github/workflows/release.yml
Due: lint-githubactions

chore: revert ods_codes to before first ASDA pilot
  .github/config/ods_codes_int.txt
  .github/config/ods_codes_prod.txt
Due: none

workflow to update dev container
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

dependabot cooldown
  .github/dependabot.yml
Due: lint-githubactions

fix indent
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

Chore: [AEA-6358] - Enable notifications for CrxPatientApp system, remove their per-site enablement (#2907)
  .github/config/ods_codes_int.txt
  .github/config/ods_codes_prod.txt
  .github/workflows/release.yml
Due: lint-githubactions

fix: new index for post dated
  SAMtemplates/tables/main.yaml
  packages/gsul/src/dynamoDBclient.ts
  packages/gsul/tests/testRunDynamoDBQueries.test.ts
Due: lint-gsul, lint-samtemplates

chore: add scaling policy for new index
  SAMtemplates/tables/main.yaml
Due: lint-samtemplates

docs: update links to prescribe, dispense and pfp apis
  packages/specification/eps-custom-prescription-status-update-api.yaml
  packages/specification/eps-prescription-status-update-api.yaml
Due: none

Chore: [AEA-6055] - new index for post dated (#2910)
  SAMtemplates/tables/main.yaml
  packages/gsul/src/dynamoDBclient.ts
  packages/gsul/tests/testRunDynamoDBQueries.test.ts
Due: lint-gsul, lint-samtemplates

chore: defer rollout of post-dated tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Chore: [AEA-6055] - defer rollout of post-dated tests (#2913)
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none
