Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Upgrade workflow versions to ensure latest release
  .github/workflows/release.yml
Due: lint-githubactions

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

chore: resolve merge conflicts
  package-lock.json
  package.json
  packages/checkPrescriptionStatusUpdates/package.json
  packages/cpsuLambda/package.json
  packages/gsul/package.json
  packages/nhsNotifyUpdateCallback/package.json
  packages/postDatedLambda/package.json
  packages/psuRestoreValidationLambda/package.json
  packages/updatePrescriptionStatus/package.json
Due: lint-updatePrescriptionStatus, lint-gsul, lint-cpsuLambda, lint-checkPrescriptionStatusUpdates

Fix: [AEA-0000] - Update common workflows (#3024)
  .github/workflows/release.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Notes added by 'git notes add'
  e9ac8364705d28d5821f52182da4411517afc45f
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

move to new exports
  .github/scripts/delete_proxygen_deployments.sh
  .github/scripts/deploy_api.sh
  .github/scripts/release_code.sh
  .github/workflows/run_release_code_and_api.yml
  SAMtemplates/alarms/main.yaml
  SAMtemplates/apis/api_resources.yaml
  SAMtemplates/apis/main.yaml
  SAMtemplates/functions/lambda_resources.yaml
  SAMtemplates/functions/main.yaml
  SAMtemplates/sandbox_template.yaml
  SAMtemplates/state_machines/main.yaml
  SAMtemplates/state_machines/state_machine_resources.yaml
Due: lint-samtemplates, lint-githubactions

block pharmacy that has requested notifications to be turned off
  .github/config/blocked_ods_codes_int.txt
  .github/config/blocked_ods_codes_prod.txt
Due: none

Chore: [AEA-6599] - block pharmacy that has requested notifications to be turned off (#3026)
  .github/config/blocked_ods_codes_int.txt
  .github/config/blocked_ods_codes_prod.txt
Due: none

Notes added by 'git notes add'
  2654608335a350258765da486f7bd13a85e29409
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Remove application name from unit tests
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
Due: lint-updatePrescriptionStatus

Lint
  .github/workflows/release.yml
Due: lint-githubactions

Missed a deprecated flag
  .github/scripts/release_code.sh
Due: none

chore: override generic cdk make targets
  Makefile
Due: none

chore: preserve sam pr.yml job names
  .github/workflows/pull_request.yml
Due: lint-githubactions

chore: booleans not strings in pr.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

docs: template.env file
  template.env
Due: none

chore: new lock for cdk imports
  package-lock.json
Due: none

chore: zizmor
  zizmor.yml
Due: none

fix: DRY stack name and mode
  .github/workflows/pull_request.yml
  Makefile
  packages/cdk/bin/PsuApiApp.ts
Due: lint-githubactions

chore: fix unused cdk instantiation
  packages/cdk/bin/PsuApiApp.ts
  packages/cdk/bin/PsuApiSandboxApp.ts
Due: none

check vars
  .github/scripts/release_code.sh
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
