Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Notes added by 'git notes add'
  05fdf28b1daf2df1e2c64085cae37128b1c83264
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Rename from productID to app ID
  SAMtemplates/functions/main.yaml
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tests/testDatabaseClient.test.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
  packages/updatePrescriptionStatus/tests/utils/testUtils.ts
Due: lint-updatePrescriptionStatus, lint-samtemplates

actually log
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
Due: lint-updatePrescriptionStatus

Wrong env var name
  SAMtemplates/functions/main.yaml
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
Due: lint-updatePrescriptionStatus, lint-samtemplates

sync copilot
  .github/workflows/sync_copilot.yml
Due: lint-githubactions

app ID match isnt working. debug log statements
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
Due: lint-updatePrescriptionStatus

TYPO
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
Due: lint-updatePrescriptionStatus

chore: pin axios to 1.14.0 via overrides
  package-lock.json
  package.json
Due: none

chore: initial packages test migration
  packages/common/commonTypes/package.json
  packages/common/commonTypes/vitest.config.ts
  packages/common/testing/package.json
  packages/common/testing/vitest.config.ts
  packages/common/utilities/package.json
  packages/common/utilities/tests/testTestConfig.test.ts
  packages/common/utilities/vitest.config.ts
  packages/nhsNotifyUpdateCallback/.vscode/launch.json
  packages/nhsNotifyUpdateCallback/.vscode/settings.json
  packages/nhsNotifyUpdateCallback/package.json
  packages/nhsNotifyUpdateCallback/tests/testHelpers.test.ts
  packages/nhsNotifyUpdateCallback/tests/testNhsNotifyCallbackLambda.test.ts
  packages/nhsNotifyUpdateCallback/vitest.config.ts
  packages/psuRestoreValidationLambda/.vscode/launch.json
  packages/psuRestoreValidationLambda/.vscode/settings.json
  packages/psuRestoreValidationLambda/package.json
  packages/psuRestoreValidationLambda/tests/compareTable.test.ts
  packages/psuRestoreValidationLambda/tests/handler.test.ts
  packages/psuRestoreValidationLambda/vitest.config.ts
  packages/statusLambda/.vscode/launch.json
  packages/statusLambda/.vscode/settings.json
  packages/statusLambda/package.json
  packages/statusLambda/tests/test-handler.test.ts
  packages/statusLambda/vitest.config.ts
Due: lint-statusLambda, lint-commonTesting

chore: all updatePrescriptionStatus tests now passing
  package-lock.json
  packages/nhsNotifyLambda/vitest.config.ts
  packages/postDatedLambda/vitest.config.ts
  packages/updatePrescriptionStatus/.vscode/launch.json
  packages/updatePrescriptionStatus/.vscode/settings.json
  packages/updatePrescriptionStatus/package.json
  packages/updatePrescriptionStatus/tests/testDatabaseClient.test.ts
  packages/updatePrescriptionStatus/tests/testHandler.test.ts
  packages/updatePrescriptionStatus/tests/testPrescriptionIntercept.test.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
  packages/updatePrescriptionStatus/tests/testUpdatePrescriptionStatus.test.ts
  packages/updatePrescriptionStatus/tests/utils/testUtils.ts
  packages/updatePrescriptionStatus/tests/utils/testValidateNhsNumber.test.ts
  packages/updatePrescriptionStatus/tests/validation/testRequestContentValidation.test.ts
  packages/updatePrescriptionStatus/tests/validation/testRequestFieldValidation.test.ts
  packages/updatePrescriptionStatus/tests/validation/testRequestValidationViaHandler.test.ts
  packages/updatePrescriptionStatus/vitest.config.ts
Due: lint-updatePrescriptionStatus, lint-nhsNotifyLambda

chore: add yaml required by redocly
  package-lock.json
  packages/specification/package.json
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
