Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Update logic to actually compute the time until the prescription matures, and pass it to the SQS
  packages/postDatedLambda/src/businessLogic.ts
  packages/postDatedLambda/src/orchestration.ts
  packages/postDatedLambda/src/sqs.ts
  packages/postDatedLambda/src/types.ts
  packages/postDatedLambda/tests/testBusinessLogic.test.ts
  packages/postDatedLambda/tests/testOrchestration.test.ts
  packages/postDatedLambda/tests/testSqs.test.ts
Due: none

Add a filter so that prior post-dated updates do not block notifications of contemporary ones
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

Correct the check - logic was backwards
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

Thought of another edge case
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
Due: lint-updatePrescriptionStatus

convert milliseconds to seconds
  packages/postDatedLambda/src/businessLogic.ts
Due: none

Notes added by 'git notes add'
  5ced53ccf62ff472fa6389b44519fd02d63565a6
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Dont query by ODS code
  packages/postDatedLambda/src/databaseClient.ts
Due: none

Write a little prose to help understand the business logic. forgot to cap the visibility timeout
  packages/postDatedLambda/docs/mature_prescription_check.md
  packages/postDatedLambda/src/sqs.ts
Due: none

Refactor out limiting the NPPTS query by ODS code
  SAMtemplates/tables/main.yaml
  packages/postDatedLambda/src/databaseClient.ts
  packages/postDatedLambda/tests/testDatabaseClient.test.ts
Due: lint-samtemplates

missed a few ODS code bits
  packages/postDatedLambda/src/databaseClient.ts
Due: none

key schema attribute needs to be hash, not range
  SAMtemplates/tables/main.yaml
Due: lint-samtemplates

Flesh out dynamo tests a bit more, and stop sorting in the dynamo client
  packages/postDatedLambda/src/databaseClient.ts
  packages/postDatedLambda/tests/testDatabaseClient.test.ts
Due: none

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
