Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

Update: [AEA-6114] - post-dated scripts require update to validation rules (#2591)
  packages/updatePrescriptionStatus/src/validation/content.ts
  packages/updatePrescriptionStatus/tests/validation/testRequestContentValidation.test.ts
Due: lint-updatePrescriptionStatus

Chore: [AEA-6107] - upgrade to node 24 (#2590)
  .tool-versions
  .vscode/eps-prescription-status-update-api.code-workspace
  SAMtemplates/functions/main.yaml
  package-lock.json
  packages/capabilityStatement/jest.config.ts
  packages/checkPrescriptionStatusUpdates/jest.config.ts
  packages/common/middyErrorHandler/jest.config.ts
  packages/common/utilities/jest.config.ts
  packages/cpsuLambda/jest.config.ts
  packages/gsul/jest.config.ts
  packages/nhsNotifyLambda/jest.config.ts
  packages/nhsNotifyUpdateCallback/jest.config.ts
  packages/nhsd-psu-sandbox/jest.config.ts
  packages/psuRestoreValidationLambda/jest.config.ts
  packages/specification/jest.config.ts
  packages/specification/package.json
  packages/statusLambda/jest.config.ts
  packages/updatePrescriptionStatus/jest.config.ts
Due: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonMiddyErrorHandler, lint-samtemplates

Notes added by 'git notes add'
  985908ef4b1e727ac448dcd2eb66dc900bdb1c46
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

feat(gsul): exclude post-dated updates that have not yet taken effect
  packages/gsul/src/dynamoDBclient.ts
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/src/schema/response.ts
  packages/gsul/tests/testBuildResult.test.ts
Due: lint-gsul

fix(gsul): better func name
  packages/gsul/src/getStatusUpdates.ts
  packages/gsul/tests/testBuildResult.test.ts
Due: lint-gsul

chore: add SQ plugin for 'clean as you code'
  .devcontainer/devcontainer.json
Due: none

chore: simplify if stmt / placate SQ
  packages/gsul/src/getStatusUpdates.ts
Due: lint-gsul

fix: precautionary tolower on comparison
  packages/gsul/src/dynamoDBclient.ts
Due: lint-gsul

chore: additional test cases identified
  packages/gsul/tests/testBuildResult.test.ts
Due: lint-gsul
