Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

lint-updatePrescriptionStatus:
  name: Lint updatePrescriptionStatus
  entry: npm
  args:
  - run
  - --prefix=packages/updatePrescriptionStatus
  - lint
  language: system
  pass_filenames: false

lint-gsul:
  name: Lint gsul
  entry: npm
  args:
  - run
  - --prefix=packages/gsul
  - lint
  language: system
  pass_filenames: false

lint-sandbox:
  name: Lint sandbox
  entry: npm
  args:
  - run
  - --prefix=packages/nhsd-psu-sandbox
  - lint
  language: system
  pass_filenames: false

lint-statusLambda:
  name: Lint statusLambda
  entry: npm
  args:
  - run
  - --prefix=packages/statusLambda
  - lint
  language: system
  pass_filenames: false

lint-cpsuLambda:
  name: Lint cpsuLambda
  entry: npm
  args:
  - run
  - --prefix=packages/cpsuLambda
  - lint
  language: system
  pass_filenames: false

lint-capabilityStatement:
  name: Lint capabilityStatement
  entry: npm
  args:
  - run
  - --prefix=packages/capabilityStatement
  - lint
  language: system
  pass_filenames: false

lint-checkPrescriptionStatusUpdates:
  name: Lint checkPrescriptionStatusUpdates
  entry: npm
  args:
  - run
  - --prefix=packages/checkPrescriptionStatusUpdates
  - lint
  language: system
  pass_filenames: false

lint-nhsNotifyLambda:
  name: Lint nhsNotifyLambda
  entry: npm
  args:
  - run
  - --prefix=packages/nhsNotifyLambda
  - lint
  language: system
  pass_filenames: false

lint-commonTesting:
  name: Lint common/testing
  entry: npm
  args:
  - run
  - --prefix=packages/common/testing
  - lint
  language: system
  pass_filenames: false

lint-commonMiddyErrorHandler:
  name: Lint common/middyErrorHandler
  entry: npm
  args:
  - run
  - --prefix=packages/common/middyErrorHandler
  - lint
  language: system
  pass_filenames: false

lint-samtemplates:
  name: Lint sam templates
  entry: make
  args:
  - lint-samtemplates
  language: system
  pass_filenames: false

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

chore: migrated nhsNotifyLambda tests passing
  packages/nhsNotifyLambda/.vscode/launch.json
  packages/nhsNotifyLambda/.vscode/settings.json
  packages/nhsNotifyLambda/package.json
  packages/nhsNotifyLambda/tests/notify.test.ts
  packages/nhsNotifyLambda/tests/testAuth.test.ts
  packages/nhsNotifyLambda/tests/testHelpers.ts
  packages/nhsNotifyLambda/tests/testNhsNotifyLambda.test.ts
  packages/nhsNotifyLambda/tests/testSecrets.test.ts
  packages/nhsNotifyLambda/tests/testUtils.test.ts
  packages/nhsNotifyLambda/vitest.config.ts
Due: lint-nhsNotifyLambda

chore: migrated postDatedLambda tests passing
  packages/postDatedLambda/.vscode/launch.json
  packages/postDatedLambda/.vscode/settings.json
  packages/postDatedLambda/package.json
  packages/postDatedLambda/tests/testBusinessLogic.test.ts
  packages/postDatedLambda/tests/testDatabaseClient.test.ts
  packages/postDatedLambda/tests/testMain.test.ts
  packages/postDatedLambda/tests/testOrchestration.test.ts
  packages/postDatedLambda/tests/testSqs.test.ts
  packages/postDatedLambda/vitest.config.ts
Due: none

chore: npm audit fix
  package-lock.json
Due: none

updates
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/sync_copilot.yml
  .github/workflows/update_dev_container_version.yml
  .pre-commit-config.yaml
Due: lint-githubactions

Chore: [AEA-0000] - sync copilot (#2937)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/sync_copilot.yml
  .pre-commit-config.yaml
Due: lint-githubactions

fix sync copilot workflow
  .github/workflows/sync_copilot.yml
Due: lint-githubactions

Chore: [AEA-0000] - fix sync copilot workflow (#2940)
  .github/workflows/sync_copilot.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Rename from product ID to app ID in a few places
  .github/scripts/release_code.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  Makefile
  SAMtemplates/parameters/main.yaml
Due: lint-samtemplates, lint-githubactions

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Chore: [AEA-6428] - Filter for notifications by application ID rather than name (#2917)
  .github/scripts/release_code.sh
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_release_code_and_api.yml
  Makefile
  SAMtemplates/functions/main.yaml
  SAMtemplates/main_template.yaml
  SAMtemplates/parameters/main.yaml
  packages/common/commonTypes/src/index.ts
  packages/nhsNotifyLambda/tests/testHelpers.ts
  packages/postDatedLambda/tests/testBusinessLogic.test.ts
  packages/specification/eps-prescription-status-update-api.yaml
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/validation/notificationSiteAndSystemFilters.ts
  packages/updatePrescriptionStatus/tests/testDatabaseClient.test.ts
  packages/updatePrescriptionStatus/tests/testSqsClient.test.ts
  packages/updatePrescriptionStatus/tests/testUpdatePrescriptionStatus.test.ts
  packages/updatePrescriptionStatus/tests/utils/testUtils.ts
Due: lint-updatePrescriptionStatus, lint-nhsNotifyLambda, lint-samtemplates, lint-githubactions

fix permissions
  .devcontainer/devcontainer.json
  .github/CODEOWNERS
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/ci.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/run_release_code_and_api.yml
  .trivyignore.yaml
  zizmor.yml
Due: lint-githubactions

fix
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

fix
  .gitignore
  .grype.yaml
  .pre-commit-config.yaml
Due: none

fix
  .github/workflows/run_release_code_and_api.yml
Due: lint-githubactions

ignore-script
  Makefile
Due: none

Chore: [AEA-6424] - use new common workflows#4525 (#2951)
  .devcontainer/devcontainer.json
  .github/CODEOWNERS
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/workflows/ci.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_package_code_and_api.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/run_release_code_and_api.yml
  .gitignore
  .grype.yaml
  .pre-commit-config.yaml
  .trivyignore.yaml
  Makefile
  zizmor.yml
Due: lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$
