Repository NHSDigital/eps-prescription-status-update-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-updatePrescriptionStatus, lint-gsul, lint-sandbox, lint-statusLambda, lint-cpsuLambda, lint-capabilityStatement, lint-checkPrescriptionStatusUpdates, lint-nhsNotifyLambda, lint-commonTesting, lint-commonMiddyErrorHandler, lint-samtemplates, lint-githubactions

Path conditions:
  lint-updatePrescriptionStatus: any of: ^packages\/updatePrescriptionStatus and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-gsul: any of: ^packages\/gsul and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-sandbox: any of: ^packages\/nhsd-psu-sandbox and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-statusLambda: any of: ^packages\/statusLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cpsuLambda: any of: ^packages\/cpsuLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-capabilityStatement: any of: ^packages\/capabilityStatement and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-checkPrescriptionStatusUpdates: any of: ^packages\/checkPrescriptionStatusUpdates and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-nhsNotifyLambda: any of: ^packages\/nhsNotifyLambda and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonTesting: any of: ^packages\/common/testing and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-commonMiddyErrorHandler: any of: ^packages\/common/middyErrorHandler and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-samtemplates: any of: ^SAMtemplates
  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

chore: strict imports
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/databaseClient.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/utils/testPrescriptionIntercept.ts
  packages/updatePrescriptionStatus/src/validation/content.ts
  packages/updatePrescriptionStatus/src/validation/fields.ts
  packages/updatePrescriptionStatus/tests/testHandler.test.ts
Due: lint-updatePrescriptionStatus

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

chore: centralise report related msgs
  packages/common/utilities/src/index.ts
  packages/nhsNotifyLambda/src/utils/notify.ts
  packages/nhsNotifyLambda/tests/testUtils.test.ts
Due: lint-nhsNotifyLambda

chore: revert broken tests
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
  packages/updatePrescriptionStatus/src/utils/databaseClient.ts
  packages/updatePrescriptionStatus/src/utils/sqsClient.ts
  packages/updatePrescriptionStatus/src/utils/testPrescriptionIntercept.ts
  packages/updatePrescriptionStatus/src/validation/content.ts
  packages/updatePrescriptionStatus/src/validation/fields.ts
  packages/updatePrescriptionStatus/tests/testHandler.test.ts
Due: lint-updatePrescriptionStatus

chore: reference central msg list but do not change
  packages/common/utilities/src/index.ts
  packages/nhsNotifyUpdateCallback/src/helpers.ts
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
Due: lint-updatePrescriptionStatus

chore: revert problematic updatePrescriptions import
  packages/updatePrescriptionStatus/src/updatePrescriptionStatus.ts
Due: lint-updatePrescriptionStatus

chore: move common utils to repo dependency
  package.json
  packages/updatePrescriptionStatus/package.json
Due: lint-updatePrescriptionStatus

chore: refactor to better inject dependencies
  packages/nhsNotifyLambda/src/utils/auth.ts
Due: lint-nhsNotifyLambda

chore: debug Notify token exchange
  .gitignore
  packages/nhsNotifyLambda/cli/README.md
  packages/nhsNotifyLambda/cli/test-token-exchange.ts
  packages/nhsNotifyLambda/package.json
  packages/nhsNotifyLambda/tsconfig.json
Due: lint-nhsNotifyLambda

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

refactor: inject creds to tokenExchange to support cli
  packages/nhsNotifyLambda/cli/test-token-exchange.ts
  packages/nhsNotifyLambda/src/utils/auth.ts
  packages/nhsNotifyLambda/src/utils/index.ts
  packages/nhsNotifyLambda/src/utils/notify.ts
  packages/nhsNotifyLambda/src/utils/secrets.ts
  packages/nhsNotifyLambda/src/utils/ssm.ts
  packages/nhsNotifyLambda/tests/testAuth.test.ts
Due: lint-nhsNotifyLambda

chore: expand test coverage post refactor
  packages/nhsNotifyLambda/tests/testSecrets.test.ts
  packages/nhsNotifyLambda/tests/testUtils.test.ts
Due: lint-nhsNotifyLambda

chore: move to new common workflow repo
  .github/workflows/pull_request.yml
Due: lint-githubactions

chore: placate SQ
  sonar-project.properties
Due: none

chore: revert use but not creation of PSU secrets
  SAMtemplates/functions/main.yaml
Due: lint-samtemplates

chore: script the aws secrets as well as token exchange
  scripts/do-notify-token-exchange.sh
Due: none
